img {
  border-radius: 8px;
  /* max-height: 5%; */
  max-width: 100%;

}

.sidemenu {
  width: 25%;
  float: left;
  border: 2px solid black;
  
}

.column {
  width: 70%;
  float: right;
}

p {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}